{% extends 'layouts/app.twig' %}

{% block content %}
	<div class="container">
		<div class="row mt-3">
			<div class="m-auto">
				<form action="/photo/upload" method="post" enctype="multipart/form-data">
					<div class="card">
						<div class="card-header">Upload new photo to gallery</div>
						<div class="card-body">
							<p class="card-text text-danger d-none" id="error_msg">
								Select image to upload
							</p>
							<div class="input-group">
								<input type="text" id="filename" class="form-control" disabled="disabled"
									   style="width: 100%;">
								<div class="btn btn-light input-group-append" id="btn_browse" style="cursor: pointer;">
									<span class="text-muted"><i class="fa fa-folder-open mr-1"></i>Browse</span>
									<input type="file" name="image" accept="image/png, image/gif, image/jpeg, image/jpg"
										   class="d-none">
								</div>
								<button type="submit" id="btn_upload" class="btn btn-labeled btn-primary">
									<span class="btn-label"><i class="fa fa-cloud-upload mr-1"></i>Upload</span>
								</button>
							</div>

						</div>
					</div>
				</form>
			</div>
		</div>

		<pre>{{ dump() }}</pre>
	</div>

	<script>
		var btnBrowse = document.getElementById("btn_browse");
		var originalUpload = btnBrowse.children[1];
		var filename = document.getElementById("filename");
		var errMsg = document.getElementById("error_msg");

		btnBrowse.addEventListener('click', function () {
			originalUpload.click();
		});

		btnBrowse.addEventListener('change', function () {
			filename.value = originalUpload.files[0].name;
			if (!errMsg.classList.contains('d-none')) {
				errMsg.classList.add('d-none');
			}
		});

		if (document.getElementById('btn_upload')) {
			document.getElementById('btn_upload').addEventListener('click', function (ev) {
				if (!filename.value) {
					ev.preventDefault();
					errMsg.classList.remove('d-none');
				}
				else {
					if (!errMsg.classList.contains('d-none')) {
						errMsg.classList.add('d-none');
					}
				}
			});
		}
	</script>

{% endblock %}