{% extends 'layouts/app.twig' %}

{% block content %}
	<div class="container">
		<div class="row mt-3">
			<div class="m-auto">
				<form action="/photo/upload" method="post" enctype="multipart/form-data" id="form_upload">
					<div class="card">
						<div class="card-header">Upload new photo to gallery</div>
						<div class="card-body">
							<p class="card-text text-danger d-none" id="error_msg">
								Select image to upload
							</p>
							<div class="input-group">
								<input type="text" id="filename" class="form-control" disabled="disabled"
									   style="width: 100%;">
								<div class="btn btn-light input-group-append" id="btn_browse" style="cursor: pointer;">
									<span class="text-muted"><i class="fa fa-folder-open mr-1"></i>Browse</span>
									<input type="file" name="image" accept="image/png, image/gif, image/jpeg, image/jpg"
										   class="d-none">
								</div>
								<button type="submit" id="btn_upload" class="btn btn-labeled btn-primary">
									<span class="btn-label"><i class="fa fa-cloud-upload mr-1"></i>Upload</span>
								</button>
							</div>

						</div>
					</div>
				</form>
			</div>
		</div>

		<div class="row" id="photos_row">
			<h2 class="col-12 mt-3 text-center">
				<span>Your photos</span>
				<hr> 
			</h2>

			{% for photo in photos %}
			<div class="col-6 col-md-3 photo">
				 <div class="d-block position-relative">
                    <div class="img-thumbnail" style="background-color: transparent;">
                        <img src="/uploads/{{ photo.src }}" class=" img-fluid w-100"/>
                    </div>
                    <div class="overlay rounded">
                        <button data-id="{{ photo.id }}" type="button" class="btn btn-danger rounded-circle btn-del-img shadow-none">
                            <i class="fa fa-trash fa-lg text-light"></i>
                        </button>
                    </div>
                </div>
			</div>
			{% endfor %}
		</div>
	</div>

	<script src="/js/uploadPhoto.js"></script>

{% endblock %}