unic template<br>
send mail ...

<style>

	.coordinates {
		font-size: 18px;
		opacity: 0;
		margin-bottom: 40px;
	}

	.no-browser-support {
		font-size: 18px;
		opacity: 0;
	}

	.coordinates b:first-child {
		margin-right: 15px;
	}

	.visible {
		opacity: 1;
	}



</style>
<div class="container">

	<p class="no-browser-support">Sorry, the Geolocation API isn't supported in Your browser.</p>
	<p class="coordinates">Latitude: <b class="latitude">42</b> Longitude: <b class="longitude">32</b></p>

</div>


  <a href="/verify/token=123">set verify in database</a>

    <h3>dump:</h3><br>
    <pre>
		{{ dump() }}
    </pre>


<script src="js/jquery-3.2.1.js"></script>

<script src="js/get_location.js"></script>