unic template<br>
send mail ...

<style>

	.coordinates {
		font-size: 18px;
		opacity: 0;
		margin-bottom: 40px;
	}

	.no-browser-support {
		font-size: 18px;
		opacity: 0;
	}

	.coordinates b:first-child {
		margin-right: 15px;
	}

	.visible {
		opacity: 1;
	}



</style>
<div class="container">

	<p class="no-browser-support">Sorry, the Geolocation API isn't supported in Your browser.</p>
	<p class="coordinates">Latitude: <b class="latitude">42</b> Longitude: <b class="longitude">32</b></p>

</div>


  <a href="/verify/token=123">set verify in database</a>

    <h3>dump:</h3><br>
    <pre>
{{ dump() }}
    </pre>


<script src="js/jquery-3.2.1.js"></script>
<!-- <script src="js/gmaps.js"></script> -->

<script>
	function geo_error(){
		let data = {};
		$.ajax({
			type: 'POST',
			url: '/location/change',
			data: (data),
			success: function (result) {
				console.log((result));
				//TODO:del
			}
		});
	}

	// Check if the browser has support for the Geolocation API
	if (!navigator.geolocation) {
		geo_error();
	}



	navigator.geolocation.getCurrentPosition(function(position) {

		// Get the coordinates of the current possition.
		var lat = position.coords.latitude;
		var lng = position.coords.longitude;

		$('.latitude').text(lat.toFixed(3));
		$('.longitude').text(lng.toFixed(3));
		$('.coordinates').addClass('visible');


		console.log(position);
		let data = {lat: lat.toFixed(3), lng: lng.toFixed(3)};
		$.ajax({
			type: 'POST',
			url: '/location/change',
			data: (data),
			success: function (result) {
				console.log((result));
				//TODO:del
			}
		});

	}, geo_error);
</script>