unic template<br>
send mail ...

<style>

	.coordinates {
		font-size: 18px;
		opacity: 0;
		margin-bottom: 40px;
	}

	.no-browser-support {
		font-size: 18px;
		opacity: 0;
	}

	.coordinates b:first-child {
		margin-right: 15px;
	}

	.visible {
		opacity: 1;
	}



</style>

<div class="container">
	<div class="row">
		<div class="col-12">
			<div class="ui-block">
				<div class="ui-block-title">
					<h6 class="title">Verify Account</h6>
					<ul class="notification-list friend-requests">
						<li class="align-center no-requests">
							<span>Don`t verify yet</span>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<p class="no-browser-support">Sorry, the Geolocation API isn't supported in Your browser.</p>
	<p class="coordinates">Latitude: <b class="latitude">42</b> Longitude: <b class="longitude">32</b></p>
</div>

		<a href="/logout">
			<span>Log Out</span>
		</a>


<!--     <h3>dump:</h3><br>
    <pre>
		{{ dump() }}
    </pre> -->

<script src="/js/jquery-3.2.1.js"></script>
<script src="/js/get_location.js"></script>