a{
    text-decoration: none;
}

a:hover{
    text-decoration: none;
}

ul{
    list-style: none;
    padding: 0;
}


.fixed-sidebar{
    position: fixed;
    z-index: 50;
    width: 70px;
    min-height: 100%;
}

.fixed-sidebar.right{
    top: 70px;
    z-index: 30;
    right: 0;
    min-height: 100%;
}

.fixed-sidebar-left{
    position: absolute;
    height: 100%;
    background-color: #fff;
    transition: transform 0.5s cubic-bezier(0.55, 0, 0.1, 1);
    box-shadow: 0 0 34px 0 rgba(63, 66, 87, 0.1);
}

.fixed-sidebar-right{
    position: absolute;
    height: 100%;
    background-color: #fff;
    box-shadow: 0 0 34px 0 rgba(63, 66, 87, 0.1);
}

.left-menu-icon{
    transition: all .3s ease;
    margin-right: 25px;
    width: 20px;
    height: 20px;
}


.fixed-sidebar-left.sidebar--small{
    width: 70px;
    transition-delay: .3s;
}

.fixed-sidebar-left .left-menu a{
    padding: 14px 0 14px 25px;
}

.fixed-sidebar-left.sidebar--large{
    width: 270px;
    transform: translateX(-100%);
}

.fixed-sidebar-left.sidebar--large i{
    font-size: 26px;
}

.left-menu a{
    color: grey;
    display: flex;
    align-items: center;
    -webkit-box-align: center;
}

.left-menu a:hover{
    color: orangered;
}


.sidebar--large a:hover span{
    font-weight: bolder;
    color: black;
}

.sidebar--small .left-menu li:first-child{
    height: 70px;
    width: 70px;
    background-color: #ff5e3a;
}

.sidebar--large .left-menu li:first-child{
    height: 70px;
    width: 270px;
    background-color: #ff5e3a;
}

.fixed-sidebar.open .fixed-sidebar-left {
    transition: transform 0.5s cubic-bezier(0.55, 0, 0.1, 1);
}

.fixed-sidebar.open .fixed-sidebar-left.sidebar--small {
    transform: translateX(-100%);

}

.fixed-sidebar.open .fixed-sidebar-left.sidebar--large {
    transform: translateX(0);
    transition-delay: .3s;
}

.chat-users li {
    padding: 13px 20px;
    cursor: pointer;
}

.chat-users img{
    border-radius: 100%;
    max-width: unset;
}
