<div class="fixed-sidebar d-none d-md-block">
    <div class="fixed-sidebar-left sidebar--small" id="sidebar-left">
        <ul class="left-menu">
            <li>
                <a href="/" class="h-100 pt-md-3">
                    <i class="fas fa-lg fa-home text-white"></i>
                </a>
            </li>
            <li>
                <a href="#" class="js-sidebar-open">
                    <i class="fas fa-lg fa-bars left-menu-icon"></i>
                </a>
            </li>
            <li>
                <a href="#news">
                    <i class="fab fa-lg fa-elementor left-menu-icon"></i>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fas fa-fw fa-user-friends left-menu-icon"></i>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fas fa-lg fa-chart-line left-menu-icon"></i>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fas fa-lg fa-calendar-alt left-menu-icon"></i>
                </a>
            </li>
            <li>
                <a href="24-CommunityBadges.html">
                    <svg class="olymp-badge-icon left-menu-icon" data-toggle="tooltip" data-placement="right"
                         data-original-title="Community Badges">
                        <use xlink:href="svg-icons/sprites/icons.svg#olymp-badge-icon"></use>
                    </svg>
                </a>
            </li>
            <li>
                <a href="25-FriendsBirthday.html">
                    <svg class="olymp-cupcake-icon left-menu-icon" data-toggle="tooltip" data-placement="right"
                         data-original-title="Friends Birthdays">
                        <use xlink:href="svg-icons/sprites/icons.svg#olymp-cupcake-icon"></use>
                    </svg>
                </a>
        </ul>
    </div>

    <div class="fixed-sidebar-left sidebar--large" id="sidebar-left-large">
        <ul class="left-menu">
            <li>
                <a href="/" class="h-100 pt-md-3">
                    <i class="fas fa-lg fa-home text-white"></i>
                </a>
            </li>
            <li>
                <a href="#" class="js-sidebar-open">
                    <i class="fas fa-times left-menu-icon"></i>
                    <span class="left-menu-title">Collapse Menu</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fab fa-lg fa-elementor left-menu-icon"></i>
                    <span class="left-menu-title">Newsfeed</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fas fa-fw fa-user-friends left-menu-icon"></i>
                    <span class="left-menu-title">Friends</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fas fa-lg fa-chart-line left-menu-icon"></i>
                    <span class="left-menu-title">Account Stats</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fas fa-lg fa-calendar-alt left-menu-icon"></i>
                    <span class="left-menu-title">Meetings</span>
                </a>
            </li>
        </ul>

        <div class="profile-completion">

            <div class="skills-item">
                <div class="skills-item-info">
                    <span class="skills-item-title">Profile Completion</span>
                    <span class="skills-item-count"><span class="count-animate" data-speed="1000"
                                                          data-refresh-interval="50" data-to="76"
                                                          data-from="0"></span><span class="units">76%</span></span>
                </div>
                <div class="skills-item-meter">
                    <span class="skills-item-meter-active bg-primary" style="width: 76%"></span>
                </div>
            </div>

            <span>Complete <a href="#">your profile</a> so people can know more about you!</span>

        </div>
    </div>
</div>
